stern 1.30.0
golang 1.22.3
terraform 1.8.3
awscli latest
python 3.12.3
tekton-cli 0.32.0
just 1.25.2
kubectl 1.30.1
kustomize 5.4.3
grpcurl 1.9.1
vault 1.17.3
packer 1.11.2
vagrant 2.4.1
shellcheck latest
shfmt latest
poetry latest

