VERBOSITY = LOG_WARN

DIR_IDENTITIES = "$HOME/.ssh/identities"
DIR_AGENTS = "$HOME/.ssh/agents"

PATTERN_KEYS = r".*"

MATCH_ARGV = [
    (r"fishi0x01-company/", "company-git"),
    (r"company.com", "company-ssh"),
    (r"fishi0x01/", "personal-git"),
    (r"devtail/", "personal-git"),
]

SSH_ADD_OPTIONS = {
    "company-git": "-t 7200",
    "company-ssh": "-t 7200",
    "personal-git": "-t 7200",
    "personal-ssh": "-t 7200"
}

DEFAULT_IDENTITY = "personal-ssh"
