---
- name: Add rpmfusion-free key
  ansible.builtin.rpm_key:
    key: https://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-free-fedora-2020
    fingerprint: E9A491A3DE247814E7E067EAE06F8ECDD651FF2E
    state: present

- name: Add rpmfusion-nonfree key
  ansible.builtin.rpm_key:
    key: https://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-nonfree-fedora-2020
    fingerprint: 79BDB88F9BBF73910FD4095B6A2AF96194843C65
    state: present

- name: Install rpmfusion repos
  # https://rpmfusion.org/Configuration
  ansible.builtin.dnf:
    name:
    - "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_facts['distribution_version'] }}.noarch.rpm"
    - "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_facts['distribution_version'] }}.noarch.rpm"
    state: present

# We want proper ffmpeg for best compatibility
- name: dnf swap -y ffmpeg-free ffmpeg --allowerasing
  become: true
  ansible.builtin.command: dnf swap -y ffmpeg-free ffmpeg --allowerasing
  register: cmdswapout
  changed_when: "'Nothing to do.' not in cmdswapout.stdout"

- name: Ensure third-pary repos are installed
  ansible.builtin.dnf:
    name: fedora-workstation-repositories
    state: present

- name: Enable Google Chrome repository
  ansible.builtin.ini_file:
    path: /etc/yum.repos.d/google-chrome.repo
    section: google-chrome
    option: enabled
    value: "1"
    mode: "0644"

- name: Install rpm packages
  ansible.builtin.dnf:
    name: "{{ rpm_packages }}"
    state: present

# TODO: still requires sudo chmod a+rw /dev/ttyUSB0
# TODO: move to flashing role
# https://stackoverflow.com/questions/73923341/unable-to-flash-esp32-the-port-doesnt-exist/75180432#75180432
- name: Enable ttyUSB0 dialout
  ansible.builtin.user:
    name: "{{ machine_user }}"
    groups: dialout
    append: true

- name: Install global python packages
  ansible.builtin.pip:
    name: "{{ global_python_packages }}"
    state: "latest"
