---
# https://kushaldas.in/posts/fixing-missing-yubikey-trouble-on-fedora-38.html
- name: Make sure opensc is removed
  ansible.builtin.dnf:
    name: opensc
    state: absent

# https://discussion.fedoraproject.org/t/gpg-with-yubikeys-on-fedora-43-scdaemon-removed/170981/6
# Worst-case manually uninstall and reinstall scdaemon packages
- name: Install gnupg2-scdaemon
  ansible.builtin.dnf:
    name: gnupg2-scdaemon
    state: present

- name: Fetch imported gpg keys
  become: true
  become_user: "{{ machine_user }}"
  command: "gpg --list-public-keys"
  register: gpgkeys
  changed_when: false

- name: Import and trust gpg pub keys
  include_tasks: import_public_gpg_keys.yaml
  loop: "{{ gpg.pub_keys }}"

- name: Ensure .ssh dir exists
  file:
    path: "/home/{{ machine_user }}/.ssh"
    state: directory
    owner: "{{ machine_user }}"
    group: "{{ machine_user }}"
    mode: '0755'

- name: Place ssh pub key
  copy:
    src: "files/{{ item.ssh_pub_file }}"
    dest: "{{ item.ssh_pub_dest }}"
    owner: "{{ machine_user }}"
    group: "{{ machine_user }}"
    mode: "644"
  loop: "{{ gpg.pub_keys }}"

- name: Set gpg-agent.conf
  become: yes
  become_user: "{{ machine_user }}"
  template:
    src: "templates/gpg-agent.conf.j2"
    dest: "{{ gpg.agent_conf_file }}"
    owner: "{{ machine_user }}"
    group: "{{ machine_user }}"
    mode: "640"
  notify:
    - "restart gpg-agent"

- name: Set gpg.conf
  become: yes
  become_user: "{{ machine_user }}"
  template:
    src: "templates/gpg.conf.j2"
    dest: "{{ gpg.conf_file }}"
    owner: "{{ machine_user }}"
    group: "{{ machine_user }}"
    mode: "640"
  notify:
    - "restart gpg-agent"

- name: Set scdaemon.conf
  become: yes
  become_user: "{{ machine_user }}"
  template:
    src: "templates/scdaemon.conf.j2"
    dest: "{{ gpg.scdaemon_conf_file }}"
    owner: "{{ machine_user }}"
    group: "{{ machine_user }}"
    mode: "640"
  notify:
    - "restart scdaemon"

- meta: flush_handlers
