# some troubleshooting links
# https://bugzilla.redhat.com/show_bug.cgi?id=1893131

# This one can help, but the daemon looses cache
# pcsc-shared

# Not sure if these really help
# disable-ccid
# pcsc-driver libpcsclite.so.1
