---
- name: distribution specific vars
  include_vars: "{{ ansible_distribution }}{{ ansible_distribution_version }}.yaml"

- name: Add virtualbox_2016.asc
  apt_key:
    # https://www.virtualbox.org/download/oracle_vbox_2016.asc
    data: "{{ lookup('file', 'files/asc/oracle_vbox_2016.asc') }}"
    state: present

- name: Add virtualbox.asc
  apt_key:
    # https://www.virtualbox.org/download/oracle_vbox.asc
    data: "{{ lookup('file', 'files/asc/oracle_vbox.asc') }}"
    state: present

- name: Add virtualbox repo
  apt_repository:
    repo: "{{ virtualbox.repo }}"
    state: present
    mode: "600"

- name: Set debconf for virtualbox packages
  debconf:
    name: "{{ item.package }}"
    question: "{{ item.question }}"
    value: "{{ item.value }}"
    vtype: "{{ item.vtype }}"
  loop: "{{ virtualbox.debconf }}"

- name: Install virtualbox packages
  apt:
    name: "{{ item }}"
    update_cache: yes
    force_apt_get: yes
    state: present
  loop: "{{ virtualbox.packages }}"

- name: Add kvm access
  user:
    name: "{{ machine_user }}"
    groups: kvm
    append: yes
